@font-face {
    font-family: Horizon;
    src: url(../Fonts/Horizon/gc-horizon-1.ttf);
}

@font-face {
    font-family: Bebas_Neue;
    src: url(../Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Franklin;
    src: url(../Fonts/ITC_Franklin_Gothic_LT_Medium/ITC_Franklin_Gothic_LT_Medium.otf);
}
@font-face {
    font-family: opensans;
    src: url(../Fonts/OpenSans/OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8b0000;
    font-size: 2.5vw;
}
h1{
    color: #ddc075;
    font-family: Franklin;
    text-transform: uppercase;
    font-size: 11.25vw;
    text-wrap: nowrap;
    margin: 3vh 0 3vh 0;
}
#sobre{
    background-color: #e0ddcd;
    width: 95vw;
    font-family: opensans;
    padding: 1vh 0 2vh 2vw;
    text-align: left;
    font-size: 1.52em;
}
#lado{
    display: flex;
}
#cara{
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
    margin-bottom: .5vh;
    margin-right: 1vw;
}
#bio{
    font-weight: 600;
    font-size: 2em;
}
#birdu{
    position: relative;
    height: 15vw;
    height: 15vw;
    right: -37vw;
    bottom: 4vh;
}
#botoes p{
    font-family: Franklin;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}
#botoes button{
    width: 39vw;
    height: 9vh;
    background-color: black;
    border-radius: 60px;
    border: none;
}
#botoes{
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}